<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if ds_nguoidung %}
    <table>
        <thead>
            <tr>
                <td>Ten dang nhap</td>
                <td>Email</td>
                <td>Mat khau</td>
            </tr>
        </thead>
        <tbody>
            {% for dt in ds_nguoidung %}
            <tr>
                <td><a href="{% url 'chi_tiet' dt.id %}">{{dt.ten_dang_nhap}}</a></td>
                <td>{{dt.email}}</td>
                <td>{{dt.mat_khau}}</td>
                <td colspan="2">
                    <a href="{% url 'xuly_xoa' dt.id%}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Chu co du lieu de hien thi !</p>
    {% endif %}
</body>
</html>